[dev-packages]
ipython = "*"
ipdb = "*"
sqlalchemy_schemadisplay = "*"
ERAlchemy = "*"

[packages]
Flask-WTF = "*"
alembic = "*"
Flask = "*"
Flask-RESTful = "*"
SQLAlchemy = "*"
SQLAlchemy-Utils = "*"
